{% extends 'widgets/widget_template.html' %}
{% load custom_template %}
{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%;
background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block widget_content %}
<style>
    .widget-container {
        width: 1170px !important;
        height: 600px;
    }

    .c-app-run-widget {
        height: 680px;
        width: 100%;
        position: relative;
    }

    .rl-table {
        line-break: auto;
    }

    .rl-table thead th {
        text-align: center;
        font-size: 1.4rem;
    }

    .rl-table td {
        padding: 7px;
    }

    .rl-content {
        display: flex;
        flex-direction: column;
    }

    #rl-target {
        padding-top: 0.5rem;
        text-transform: initial;
        font-size: 1.4rem;
        font-weight: bold;
        -moz-user-select: text;
        -khtml-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    .rl-table td:first-child {
        color: #6c818b;
        text-transform: uppercase;
        font-weight: 500;
        white-space: nowrap;
        padding-left: 0.8rem;
        padding-right: 2rem;
        width: 11%;
    }
</style>
<div class="rl-content">
    {% if data == None %}
    There is no rl object in the response JSON.
    {% else %}
    <table class="rl-table">
        <thead>
            <tr>
                <th colspan="2">ReversingLabs TitaniumScale Report
                    <div id="rl-target" class="main-grid">{{param.vault_id}}</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Classification</td>
                <td>
                    <font color={{classification_color}}>{{classification}}</font>
                </td>
            </tr>
            <tr>
                <td>File type</td>
                <td>{{data.info.file.file_type}} </td>
            </tr>
            <tr>
                <td>File subtype</td>
                <td>{{data.info.file.file_subtype}} </td>
            </tr>
            <tr>
                <td>File name</td>
                <td>{{data.info.file.file_name}} </td>
            </tr>
            <tr>
                <td>Extended description</td>
                <td>{{data.story}}</td>
            </tr>
            {% for x in data.info.file.hashes %}
            <tr>
                <td>{{x.name}}.</td>
                <td>{{x.value}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% if data.indicators != None %}
        <thead>
            <tr>
                <th colspan="2">Indicators
                </th>
            </tr>
        </thead>
        <tbody>
            {% for x in data.indicators %}
            <tr>
                <td>{{ forloop.counter}}.</td>
                <td>{{ x.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        {% if data.interesting_strings != None %}
        <thead>
            <tr>
                <th colspan="2">Interesting strings
                </th>
            </tr>
        </thead>
        <tbody>
            {% for x in data.interesting_strings %}
            <tr>
                <td>{{ x.category}}</td>
                <td> {% for v in x.values %}
                    {{v}} <br />
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
    {% endif %}
</div>
{% endblock %}
